@use "@/styles/mixins";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 6em;
  font-style: italic;
  font-weight: bold;
  color: rgba(255,255,255,0.7);
  background-repeat: repeat-y;
  background-position: 0px 0px;
  background-size: 100% 30px;
  transform: translateY(0);
  @include mixins.aboveLargeMobile {
    font-size: 11em;
  }

  &[class~=is-active] {
    // Don't Use Mobile & Tablet.
    display: none;
    @include mixins.aboveTablet {
      display: flex;
    }
  }

  &[class~=is-hide] {
    transition: transform 0.85s ease-in;
    transform: translateY(-100vh);
  }

  &[class~=is-storybook] {
    display: flex;
  }

}

.dot {
  opacity: 0;
  @include mixins.aboveLargeMobile {
    display: inline-block;
    transform: scale(1.25) translate(1px, -4px)
  }

  &[class~=is-first] {
    animation: dot-first 1.175s ease-in infinite;

  }

  &[class~=is-second] {
    animation: dot-second 1.175s ease-in infinite;

  }

  &[class~=is-third] {
    animation: dot-third 1.175s ease-in infinite;

  }
}
@keyframes dot-first {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}
@keyframes dot-second {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

}
@keyframes dot-third {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

}

